* {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clear:before,
.clear:after {
  content: ' ';
  display: table;
}

.clear:after {
  clear: both;
}

body {
  background-color: #101010;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue',
    sans-serif;
  color: #fafafa;
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

h1 {
  font-size: 2.5em;
  color: #f4f4f4;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.6rem;
  margin-top: 1.4rem;
}

header {
  text-align: center;
  max-width: 336px;
  margin: 0 auto;
  margin-bottom: 2.5rem;
  position: relative;
}

@media (min-width: 600px) {
  header {
    padding: 0;
    margin-bottom: 5rem;
  }
}

header p {
  color: #777777;
  font-size: 1.25em;
  margin-bottom: 2rem;
}

header img {
  margin-bottom: 2rem;
  left: 0;
  margin-top: -2px;
}

/* signup form */

.image {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  width: 100%;

  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  animation-delay: 0.5s;
}

.image img {
  position: relative;
  left: 50px;
}

@media (max-width: 600px) {
  .image {
    height: 300px;
    position: relative;
    overflow: hidden;
  }

  .image img {
    position: absolute;
    top: 0;
    left: 60px;
    height: 100%;
    width: auto;
  }
}

form {
  position: relative;
  text-align: left;
}

input.email {
  font-size: 19px;
  padding: 13px;
  border: none;
  border-radius: 6px;
  height: 50px;
  width: 260px;
  padding-right: 94px;
  margin-left: 20px;
}

@media (min-width: 600px) {
  input.email {
    width: 336px;
    margin-left: 0;
  }
}

input.email:focus {
  outline-color: #4ebef9;
}

.signup-button {
  font-size: 18px;
  padding: 13px;
  border: none;
  border-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-left: -5px;
  width: 89px;
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  color: white;
  background-color: #4ebef9;
  -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  -ms-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
  margin-right: 20px;
  -webkit-appearance: none;
}

@media (min-width: 600px) {
  .signup-button {
    margin-right: 0;
  }
}

.signup-button:hover {
  cursor: pointer;
  background-color: #56cef9;
}

.signup-button:active {
  background-color: #4cb6ee;
}

.post-signup {
  display: none;
}

/*  Features */
.main .container {
  padding: 0 10px;
}

ul {
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  ul {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: auto;
    /* column-gap: 33px; */
    grid-row-gap: 33px;
  }
}

li {
  opacity: 0;
  list-style: none;
  margin: 0 16px;
  margin-bottom: 1rem;
  position: relative;
  padding: 70px 20px 30px 20px;
  text-align: center;
  background: #181818;
  background-image: linear-gradient(-180deg, #1b1b1b 0%, #161616 100%);
  border-radius: 19px;
}

li:hover {
  transform: scale(1.05);
}

@media (min-width: 600px) {
  li {
    margin-bottom: 0;
  }
}

li img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 0.6rem;
}

h2 + p {
  font-size: 1em;
  color: #f4f4f4;
  line-height: 1.2;
  font-weight: 400;
}

.simpleinterface {
  grid-row: 1;
  grid-column: 1;
}

.bullshit {
  grid-row: 1;
  grid-column: 2;
}

.icloud {
  grid-row: 2;
  grid-column: 1;
}

.devices {
  grid-row: 2;
  grid-column: 2;
}

.ios {
  grid-column: 1 / span 2;
  grid-row: 3;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  padding-top: 45px;
  padding-bottom: 0;
}

.ios h2 {
  font-size: 1.7em;
  color: #f7d3ba;
  padding: 0 20px;
  margin-bottom: 20px;
}

.ios img {
  position: static;
  top: auto;
  margin-bottom: -94px;
  transform: none;
  max-width: 100%;
  width: 100%;
}

@media (max-width: 600px) {
  .ios {
    padding-top: 35px;
  }
  .ios img {
    max-width: 95%;
    width: 100%;
    margin-bottom: -53px;
  }
}

.bullshit h2 {
  color: #fecc4f;
}

.bullshit img {
  top: 25px;
}

.simpleinterface h2 {
  color: #4ebef9;
}

.simpleinterface img {
  top: 30px;
}

.icloud h2 {
  color: #bdf93e;
}

.icloud img {
  top: 30px;
}

.devices h2 {
  color: #f9684e;
}

.devices img {
  top: 24px;
}

/* footer */

footer {
  border-top: 1px solid #1c2327;
  padding: 1rem;
  color: #656565;
  font-size: 0.875em;
  text-align: center;
}

footer a {
  color: #656565;
}

footer a:hover {
  color: #919191;
}

footer span {
  display: block;
}

footer span:last-of-type {
  margin-top: 0.5rem;
  font-size: 0.685rem;
}

.top-content {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: slideInUp;
  animation-delay: 0.5s;
}

.features li {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: slideInUp;
  animation-delay: 1.3s;
}

.features li:nth-of-type(2) {
  animation-delay: 1.6s;
}

.features li:nth-of-type(3) {
  animation-delay: 1.9s;
}

.features li:nth-of-type(4) {
  animation-delay: 2.2s;
}

.features li:nth-of-type(5) {
  animation-delay: 2.5s;
}

.ios img {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: slideInUpSmall;
  animation-delay: 2.7s;
}

@keyframes slideInUp {
  from,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUpSmall {
  from,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
